.popup__form_type_profile {
  width: 298px;
  height: 114px;
  margin: 0 auto;
  margin-left: 36px;
  padding: 0;
}
@media (max-width: 460px) {
  .popup__form_type_profile {
    width: 238px;
    margin-left: 22px;
    margin-top: 75px;
    margin-bottom: 45px;
  }
}
