.header {
  display: flex;
  width: calc(100% - 2 * 200px);
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
  border-bottom: 0.7px solid rgba(84, 84, 84, 1);
}

@media (max-width: 992px) {
  .header {
    width: calc(100% - 2 * 100px);
  }
}

@media (max-width: 480px) {
  .header {
    width: 100%;
  }
}
