.popup__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 460px) {
  .popup__form {
    width: 238px;
    margin-left: 22px;
    margin-top: 75px;
    margin-bottom: 45px;
  }
}
