.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 17px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
}
@media (max-width: 320px) {
  .elements {
    margin-top: 0;
    gap: 20px;
  }
}
