.popup__button-submit {
  font-family: "Inter", Arial, sans-serif;
  color: white;
  background-color: black;
  width: 358px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0;
  border: none;
}
.popup__button-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (max-width: 460px) {
  .popup__button-submit {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
