.footer {
  width: 318px;
  margin: 66px auto 60px 200px;
}
@media (max-width: 1024px) {
  .footer {
    margin-left: 50px;
  }
}
@media (max-width: 480px) {
  .footer {
    margin: 0 auto;
    margin-top: 48px;
    width: 282px;
    margin-bottom: 36px;
  }
}
